{% extends "base.html" %}
{% block header %} {% include "header.html" %} {% endblock header %}
{% block banner %} {% include "banner.html" %} {% endblock banner %}
{% block content %} 

 <!-- content  -->
<div class="container">
    <div class="row">
      <h1 class="text-center title mt-5 mb-5">your profile dashboard</h1>
  
      <div class="col-12 col-md-3 pavat">
        <img src="{{userprof.pix.url}}" alt="">
        <h5>{{user.username}}</h5>
      </div>
  
      <div class="col-12 col-md-6 pform">
      <p> Dear <span> {{userprof.user}}</span> order received and payment confirmed </p>
      </div>
  
      <div class="col-12 col-md-3 plink">
        <h2 class="text-center">quick links</h2>
        <ul class="list-unstyled pt-3">
          <li><a href="{% url 'profile' %}"><i class="bi bi-caret-right-fill"></i></i> profile</a></li>
          <li><a href="{% url 'profile_update' %}"><i class="bi bi-caret-right-fill"></i> profile update</a></li>
          <li><a href=""><i class="bi bi-caret-right-fill"></i> password update</a></li>
          <li><a href="{% url 'home' %}"><i class="bi bi-caret-right-fill"></i>  home</a></li>
        </ul>
      </div>
    </div>
  </div><br><br>
  <!-- Profile content end -->
  


{% endblock content %}
{% block footer %} {% include "footer.html" %} {% endblock footer %}
