{% extends "base.html" %}
{% block header %} {% include "header.html" %} {% endblock header %}
{% block carousel %} {% include "carousel.html" %} {% endblock carousel %}
{% block content %} 


<!-- content  -->
<div class="container mt-5 mb-5">
  <div class="row">
    <h2 class="text-center title">Contact Us</h2>
      <div class="col-12 col-md-6 contact">

        <form action="{% url 'contact' %}" method="POST">
          {% csrf_token %}


              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                        
              </div>

              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">  
              </div>

              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Message</label>
                  <textarea name="message" id="" cols="30" rows="10" class="form-control"></textarea>
              </div>

            
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>

      <div class="col-12 col-md-6">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.0575365779405!2d3.3654210747855577!3d6.639777521801613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b93906824f703%3A0x8cba4fcd8c840cd!2sOjodu%20Berger!5e0!3m2!1sen!2sng!4v1693301718768!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

  </div>
</div>
  <!-- product content end -->


{% endblock content %}
{% block footer %} {% include "footer.html" %} {% endblock footer %}
