{% extends "base.html" %}
{% block header %} {% include "header.html" %} {% endblock header %}
{% block carousel %} {% include "carousel.html" %} {% endblock carousel %}
{% block content %} 


<!-- content  -->
<div class="card container mb-5 mt-5 detail">
    <div class="row g-0 detrow">
      <div class="col-12 col-md-7 det">
        <img src="{{cardet.carimg.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-12 col-md-5 detinfo">
        <div class="card-body">
          <h5 class="card-title text-center pb-2 pt-1 text-success bg-dark">{{cardet.type}}</h5>
          <p class="card-text"> <span>model:</span> {{cardet.model}} </p>
        <p class="card-text"> <span>year:</span> {{cardet.year}}  </p>
        <p class="card-text"> <span>color:</span> {{cardet.color}}  </p>
        <p class="card-text"> <span>seats:</span> {{cardet.seats}}  </p>
        <p class="card-text"> <span>registerd:</span> {{cardet.registered}}  </p>  
        <div class="text-center but">
          <p>N{{cardet.price}} </p>
            <button class="btn btn-success">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- product content end -->


{% endblock content %}
{% block footer %} {% include "footer.html" %} {% endblock footer %}
