{% load static %}

<!-- Navbar section  -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="{{ info.logo.url }}" style="height: 50px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %} 
        
            <li class="nav-item">
              <a class="nav-link"  href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">Product</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
                <ul class="dropdown-menu">
                  {% for item in categ %}
                  <li><a class="dropdown-item" href="{% url 'category' item.id item.slug %}">{{item.brand}}</a></li>
                  {% endfor %}

                </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "cart" %}"><i class="bi bi-cart4"></i></a>
            </li> 
  
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user.customer %}
             <img src="{{user.customer.pix.url}}" style="height: 30px;" alt="">
             {% endif %}

                
                {% if request.user %}
                  <span>Hi {{user.username}}!</span>
                {% endif %}

              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'signout' %}">Logout</a></li>   
              </ul>
            </li>

        {% else %}  
        
            <li class="nav-item">
              <a class="nav-link"  href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">Product</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
                <ul class="dropdown-menu">
                  {% for item in categ %}
                  <li><a class="dropdown-item" href="{% url 'category' item.id item.slug %}">{{item.brand}}</a></li>
                  {% endfor %}

                </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'signin' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        
        {% endif %}                                                                 
            
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
<!-- Navbar section end -->

<!-- popup  -->
{% for item in messages %}

 <div class="alert alert-success alert-dismissible fade show text-center mb-0" role="alert">
  <strong> {{item}} </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

 <!-- popup done -->
