{% extends "base.html" %}
{% block header %} {% include "header.html" %} {% endblock header %}
{% block carousel %} {% include "carousel.html" %} {% endblock carousel %}
{% block content %} 


    <div class="container product">
        <h1 class="text-center text-warning pt-2">All Products</h1>
        <div class="row mb-5 mt-4">

            {% for item in pagin %}

            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <div class="card text-center">
                    <a href="{% url 'detail' item.id item.slug %}"><img src="{{item.carimg.url}}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title"> {{ item.type }} </h5>

                        <p class="card-text">N{{item.price}} </p>
                        <form action="{% url 'add_to_cart' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="carid" value="{{item.id}}">
                            <button type="submit" class="btn btn-primary">Add to cart</button>
                        </form>
                    </div>
                </div> 
            </div>

            {% endfor %} 

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pt-5">
                    {% if pagin.has_previous %}                                                 
                    <li class="page-item"><a class="page-link" href="?page={{paginprevious_page_number}}">Previous</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page=1">Previous</a></li>
                     {% endif %}
            
                    {% for item in pagin.paginator.page_range %}
                     {% if pagin.number == item %}
                     <li class="page-item active"><a class="page-link" href="#"> {{item}} </a></li>
                     {% else %}
                     <li class="page-item"><a class="page-link" href="?page={{item}}"> {{item}} </a></li>
                     {% endif %}
                    {% endfor %}
            
                    {% if pagin.has_next %}
                     <li class="page-item"><a class="page-link" href="?page{{pagin.next_page_number}}">Next</a></li>
                    {% else %}
                     <li class="page-item"><a class="page-link" href="?page={{pagin.paginator.num_pages}}">Next</a></li>
                    {% endif %}
            
                </ul>
            </nav>
          

        </div>
    </div>


{% endblock content %}
{% block footer %} {% include "footer.html" %} {% endblock footer %}
